.profile__info {
  max-width: 336px;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 30px;
}
@media screen and (max-width: 1024px) {
  .profile__info {
    max-width: 282px;
    margin: 26px 19px 34px 19px;
  }
}
