.profile__addbutton {
  min-width: 150px;
  min-height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  align-self: center;
  padding: 12px 62px;
  background-color: transparent;
  cursor: pointer;
  margin: 0 0 0 242px;
  background-image: url(../../../images/AddButton.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.profile__addbutton:hover {
  opacity: 0.6;
}
@media screen and (max-width: 1024px) {
  .profile__addbutton {
    min-width: 282px;
    margin: 0 19px;
    padding: 15px 130px 15px 132px;
    background-size: 16px;
  }
}
